@use '/src/styles/style.scss';

%btn {
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 25px;
  user-select: none;
  &:hover {
    cursor: pointer;
    & .footprint {
      transform: rotate(45deg);
    }
  }
}

.primaryBtn {
  @extend %btn;
  color: style.$white;
  background: linear-gradient(90deg, style.$primary_orange 0%, style.$dark_orange 100%);
  &:hover {
    background: style.$dark_orange;
  }
}

.outlineBtn {
  @extend %btn;
  color: style.$white;
  background: transparent;
  border: 1px solid style.$white;
  &:hover {
    background: style.$dark_orange;
    border: style.$dark_orange;
  }
}

.footprint {
  margin-left: 12px;
  transition: transform .5s ease;
}