@use '/src/styles/style.scss';

.container {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 54px 20px;
  background-color: #F3F1EE;
  position: relative;
  &::before{
    content: '';
    width: 188px;
    height: 200px;
    background-image: url(../../public/img/news_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 8%;
    opacity: 0.5;
    z-index: 1;
  }
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footprint {
  width: 14px;
  height: 16px;
  margin: 0 0 8px 0;
}

.title {
  font-size: style.$mobile-title-font-size;
  color: style.$primary_orange;
  margin: 0 0 12px 0;
}

.subtitle {
  margin: 0 0 16px 0;
  font-size: style.$mobile-subtitle-font-size;
  font-weight: 400;
  line-height: 38.5px;
}

.cardSlider {
  width: 100vw;
  height: 200px;
}

.body {
  display: none;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  width: 340px;
  height: 114px;
  margin: 20px auto;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: style.$white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #0000000A;
}

.cardImg {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 90px;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}

.moreBtn {
  display: none;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  flex-grow: 1;
}

%cardTag {
  width: fit-content;
  padding: 8px 12px;
  margin: 0 0 12px 0;
  font-size: 12px;
  border-radius: 4px;
}

.cardTagPost {
  @extend %cardTag;
  color: style.$icon_blue;
  background: #3A86BA33;
}

.cardTagInfo {
  @extend %cardTag;
  color: style.$icon_orange;
  background: #FE7E6233;
}

.cardTagKnow {
  @extend %cardTag;
  color: style.$icon_green;
  background: #6CAF8F33;
}

.cardTime {
  margin: 0 0 8px 0;
  font-size: 12px;
  color: style.$dark_gray;
}

.cardTitle {
  margin: 0 0 8px 0;
  font-size: style.$font-size;
}

// Banner下方分頁器點點，修改react-slick套件的樣式，因樣式不同，和其他slider取不同class

%dots {
  display: block;
  position: relative;
  background: transparent;
  background-color: transparent;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: none;
  opacity: 1;
  font-size: 0;
  line-height: 0;
}

%dots_before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: style.$primary_orange;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

:global(.mobile-slick-dots) {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
}

:global(.mobile-slick-dots li) {
  position: relative;
  display: inline-block;
  margin: 1px;
  padding: 0;
  width: 12px;
  height: 12px;
  list-style: none;
  text-align: center;
}

:global(.mobile-slick-dots li button) {
  @extend %dots;
}

:global(.mobile-slick-dots li button::before) {
  @extend %dots_before;
}

:global(.mobile-slick-dots li.slick-active button) {
  @extend %dots;
  border: 1px solid style.$primary_orange;
}

:global(.mobile-slick-dots li.slick-active button::before) {
  @extend %dots_before;
}




@media screen and (min-width: 480px) {
  .container {
    padding: 124px 24px;
    &::before {
      width: 473px;
      height: 503px;
      left: 15%;
    }
  }
  
  .wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;    
    width: style.$wrapper_width;
    margin: 0 auto;
  }

  .titleContainer {
    align-items: flex-start;
  }

  .titleGroup {
    flex-direction: row;
    align-items: flex-start;
  }

  .footprint {
    width: 18px;
    height: 20px;
    margin: 0 12px 0 0;
  }

  .title {
    font-size: style.$title-font-size;
    margin: 0 0 16px 0;
  }

  .subtitle {
    margin: 0 0 32px 0;
    font-size: style.$subtitle-font-size;
    line-height: 43.5px;
  }

  .cardSlider {
    display: none;
  }
  
  %btn-hover {
    background-color: style.$white;
    color: style.$primary_blue;
    transform: scale(1.075, 1);
    transform: translate(10px, 0);
  }

  .card {
    width: 672px;
    height: auto;
    margin: 0;
    padding: 16px;
    &:hover {
      cursor: pointer;
      .moreBtn {
        @extend %btn-hover;
      }
    }
  }

  .cardImg {
    width: fit-content;
    height:fit-content;
  }

  .content {
    margin-left: 25px;
  }

  .moreBtn {
    composes: labelMoreBtn from './button.module.scss';
    margin: 0 32px 0 0;
    line-height: 1;
  }

  .body {
    display: block;
  }
}