@use '/src/styles/style.scss';

%bannerBgImg {
  width: 100%;
  height: calc(100vh - 124px); // 扣掉navbar和最新消息的高度
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex !important; // 蓋掉slick套件寫的行內style
  align-items: center;

  &::before {
    // 做遮罩置於背景上方
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 2;
  }
}

.wrapper {
  @extend %bannerBgImg;
  background-image: url('../../public/banner/banner_1.jpg');
}

.wrapper_2 {
  @extend %bannerBgImg;
  background-image: url('../../public/banner/banner_2.jpg');
}



.bannerBody {
  width: 650px;
  height: 300px;
  margin-left: 210px;
  position: relative;
  z-index: 3;
}

.title {
  color: style.$white;
  font-size: 24px;
}

.enTitle {
  margin: 44px 0 50px 0;
  color: style.$white;
  font-size: 60px;
  font-family: 'Montserrat';
  font-weight: 600;
  span {
    color: style.$primary_orange;
  }
}


.footprint {
  margin-left: 24px;
}

// 幻燈片上的箭頭按鈕

%arrowBtn {
  width: 52px;
  height: 52px;
  color: style.$white;
  background-color: style.$dark_orange;
  font-size: 18px;
  border-radius: 0 50% 50% 0;
  border: none;
  transition: all 0.3s ease;
  z-index: 5;
  &:hover {
    cursor: pointer;
    color: style.$dark_orange;
    background-color: style.$white;
  }
}

.prevArrowBtn {
  @extend %arrowBtn;
  position: absolute;
  top: 50%;
  left: 0;
}

.nextArrowBtn {
  @extend %arrowBtn;
  transform: rotate(180deg);
  position: absolute;
  top: 50%;
  right: 0;
}

// Banner下方分頁器點點，修改react-slick套件的樣式
%dots {
  position: relative;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  opacity: 1;
}

%dots_before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

:global(.slick-dots li button) {
  @extend %dots;
}

:global(.slick-dots li button::before) {
  @extend %dots_before;
}

:global(.slick-dots li.slick-active button) {
  @extend %dots;
  border: 1px solid style.$white;
}

:global(.slick-dots li.slick-active button::before) {
  @extend %dots_before;
}

:global(.slick-dots) {
  position: absolute;
  bottom: 25px;
}