// containder
$wrapper_width: 72%;

// color
$primary_orange: #F9A543;
$dark_orange: #FF7A00;
$primary_blue: #3A86BA;
$light_gray: #D9D9D9; 
$dark_gray: #323232;
$white: #FFFFFF;
$black: #000000;
$icon_orange: #FE7E62;
$icon_blue: #3A86BA;
$icon_green: #6CAF8F;
$icon_gray: #003B63;
$hover_gray: #F3F1EE;
$font_gray: #5F5F5F;
$footer_blue: #002C49;
$disabled_gray: #989898;
$info_gray: #F5F5F5;


// font
$point-font-size: 14px;
$font-size: 16px;
$title-font-size: 20px;
$subtitle-font-size: 32px;
$mobile-title-font-size: 16px;
$mobile-subtitle-font-size: 28px;

// hover 
$booking_box_shadow: 0px 0px 0px 3px #FF7A001A;