// containder
$wrapper_width: 72%;

// color
$primary_orange: #F9A543;
$dark_orange: #FF7A00;
$primary_blue: #3A86BA;
$dark_gray: #323232;
$white: #FFFFFF;
$icon_orange: #FE7E62;
$icon_blue: #3A86BA;
$icon_green: #6CAF8F;
$icon_gray: #003B63;
$hover_gray: #F3F1EE;
$font-gray: #5F5F5F;


// font
$font-size: 16px;
$title-font-size: 20px;
$subtitle-font-size: 32px;
$mobile-title-font-size: 16px;
$mobile-subtitle-font-size: 28px;