@use '/src/styles/style.scss';

.nameGroup {
  display: flex;
  flex-direction: column;
}

.termGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 16px 0; 
}

.checkbox {
  all: unset;
  position: relative;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin: 0 12px 0 0;
  border-radius: 4px;
  border: 1px solid style.$light-gray;
  &:hover {
    cursor: pointer;
  }
  &:checked {
    background-color: style.$primary_orange;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        background-image: url(../../public/svg/booking_vector.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
      }
  }
}

.describe {
  margin: 0;
  color: style.$font-gray;
  font-size: style.$point-font-size;
  span {
    color: style.$icon_gray;
    font-size: style.$point-font-size;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 480px) {
  .nameGroup {
    flex-direction: row;
    gap: 16px;
  }
}