@use '/src/style.scss';

.wrapper {
  height: 80px;
  background-color: style.$white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: style.$shadow;
  position: relative;
  z-index: 100;
}

.logo {
  height: 44px;
  width: 156px;
  background-image: url('../../public/svg/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

// navbar 連結共用樣式
%link {
  padding: 8px 16px; 
  text-decoration: none;
  color: style.$dark_gray;
  font-size: style.$font-size;
  position: relative;
  user-select: none;
  &::after {
    content: '';
    width: 13.5px;
    height: 12px;
    background-image: url('../../public/svg/footprint.svg');
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
  }
  &:hover::after {
    display: block;
  }
}

.navbarList {
  height: 100%; // 把下面推出去讓滑鼠hover向下移動的過程不會讓下拉選單消失
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  > a {
    @extend %link;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      & .dropdownMenu {
        display: flex;
      }
    }
  }
}

.btnGroup > a {
  @extend %link;
  margin-left:20px;
}

.dropdownMenu {
  border-radius: 0 0 16px 16px;
  background-color: style.$white;
  margin: 0;
  padding: 0;
  width: 148px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: -27px;
  box-shadow: style.$shadow;
  &:hover {
    display: flex;
  }
  > :last-child {
    margin-bottom: 8px;
  }
  li {
    width: 132px;
    padding: 16px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    &:hover {
      background-color: style.$hover_gray;
    }
    > a {
      align-self: center;
      text-decoration: none;
      color: style.$dark_gray;
    }
  }
}